/* src/components/Button/Button.scss */
.button {
  cursor: pointer;
}

/* Size Classes */

.size-small {
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
}

.size-medium {
  font-size: 1.2rem;
  padding: 0.8rem 1.2rem;
}

.size-large {
  font-size: 1.8rem;
  padding: 1.2rem 1.8rem;
}

/* radius classes */

.radius-none {
  border-radius: none;
}

.radius-halfRound {
  border-radius: 3px;
}

.radius-rounded {
  border-radius: 8px;
}

.radius-full {
  border-radius: 100%;
}

/* border-classes */

.border-none {
  border: none;
}
.border-small {
  border: solid 2px;
}
.border-medium {
  border: solid 5px;
}
.border-large {
  border: solid 10px;
}

/* color-classes */
.color-primary {
  background-color: blue;
  color: white;
  border-color: darkblue;
}

.color-default {
  background-color: grey;
  color: white;
  border-color: black;
}

.color-secondary {
  background-color: purple;
  color: white;
  border-color: rgb(83, 2, 83);
}

.color-success {
  background-color: green;
  color: black;
  border-color: darkgreen;
}

.color-warning {
  background-color: yellow;
  color: black;
  border-color: goldenrod;
}

.color-danger {
  background-color: red;
  color: white;
  border-color: darkred;
}
