// font-sizes.scss
// sass variables, used for Sass features
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

// Global font sizes
:root {
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-md: #{$font-size-md};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
}

// Tablet font sizes
@media (max-width: 1024px) {
  :root {
    --font-size-xs: 0.7rem;
    --font-size-sm: 0.8rem;
    --font-size-md: 0.93rem;
    --font-size-lg: 1.17rem;
    --font-size-xl: 1.4rem;
  }
}

// Mobile font sizes
@media (max-width: 768px) {
  :root {
    --font-size-xs: 0.65rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 0.85rem;
    --font-size-lg: 1.1rem;
    --font-size-xl: 1.3rem;
  }
}
